<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex">
    <%= link_to("Home", root_path, class: "navbar-brand") %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <%= link_to("Dropdown Hello", nil, class:"nav-link", role: "button", data: { bs_toggle: "dropdown" }) %>
          <ul class="dropdown-menu" style="margin: 0">
            <li><%= link_to("Action", new_user_session_path, class: "dropdown-item") if !user_signed_in? %></li>
            <li><%= link_to("Logout", destroy_user_session_path, class: "dropdown-item") if user_signed_in? %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
